@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    min-width: 320px;
    opacity: 0;
}

.wrapper-inner {
    max-width: 980px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h2 {
    position: relative;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 60px;
}

h2:after {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 50px);
    content: '';
    width: 100px;
    height: 2px;
    background-color: #fcb816;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: white;
}

/*header*/

header {
    display: block;
    width: 100%;
    background-color: white;
}

header .wrapper-inner {
    justify-content: space-between;
    padding: 10px 0;
}

.logo-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 65px;
    background-color: #fcb816;
}

.logo-cube p {
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    opacity: 0;
}

@media (max-width: 500px) {
    .logo-cube p {
        padding-top: 10px;
    }
}

.logo-cube p:hover {
    opacity: 1;
    transition: .4s;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px;
    color: black;
}

nav a:hover {
    color: #fcb816;
}

.phone-block a {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.phone-block a:hover {
    color: #fcb816;
}

.phone-block i {
    font-size: 24px;
    font-weight: bold;
    color: #fcb816;
}

.phone-number {
    margin: 0 0 5px 0;
}

.order-call {
    width: 238px;
    height: 42px;
    background: url("../images/button-header-2.png") no-repeat;
    background-size: 100% 100%;
    border: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.order-call:hover {
    color: black;
    cursor: pointer;
}

.burger {
    display: none;
}

@media (max-width: 1190px) {
    .wrapper {
        padding-top: 62px;
    }

    header .wrapper-inner {
        position: relative;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 15px;
    }

    header {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, .5);
    }

    .logo-cube {
        position: absolute;
        left: 0;
        top: 10px;
        height: 42px;
    }

    nav {
        width: 100%;
        height: calc(100vh - 62px);
        position: fixed;
        left: 0;
        bottom: -150%;
        background: white;
        z-index: 101;
        transition: .8s;
        flex-direction: column;
    }

    nav.active {
        bottom: 0;
    }

    nav a {
        color: #fcb816;
    }

    header .phone-block {
        width: 170px;
    }

    header .phone-block button {
        width: 100%;
        font-size: 16px;
        margin-right: 1px;
    }

    .phone-number a {
        color: black;
    }

    .burger {
        display: block;
        font-size: 40px;
        color: #fcb816;
        margin-right: 10px;
    }
}

@media (max-width: 1010px) {
    .logo-cube {
        left: 15px;
    }
}

@media(max-width: 977px) {
    .phone-block {
        flex-direction: row;
        align-items: center;
    }
    .phone-block .phone-number {
        flex-shrink: 0;
        margin: 0 15px 0 0;;
    }
}

@media (max-width: 500px) {
    header .wrapper-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo-cube {
        display: block;
        position: static;
    }

    .logo-cube p {
        font-size: 18px;
    }

    .burger {
        margin-right: 0;
    }

    .order-call {
        display: block;
    }
}

@media (max-width: 450px) {
    header .phone-block {
        width: 110px;
    }

    header .phone-block button {
        width: 100%;
        font-size: 10px;
    }

    .logo-cube {
        width: 100px;
    }
}

/*banner-top*/

.banner-top {
    position: relative;
    background: url("../images/background-top.jpg") center 0;
    background-size: cover;
    padding: 130px 0;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .banner-top {
        padding: 70px 0;
    }
}

.banner-top:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
}

.banner-top .wrapper-inner {
    flex-direction: column;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
    color: white;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

@media (max-width: 1030px) {
    .banner-top .wrapper-inner {
        padding: 0 100px;
    }
}

@media (max-width: 768px) {
    .banner-top .wrapper-inner {
        padding: 0 30px;
    }

    .banner-top .wrapper-inner p {
        font-size: 24px;
        line-height: 30px;
        padding: 0 30px;
    }

    h2 {
        font-size: 24px;
        line-height: 30px;
        padding: 20px;
    }

    h2:after {
        bottom: 10px;
    }
}

@media (max-width: 660px) {
    h2 {
        font-size: 20px;
    }
}

@media(max-width: 490px) {
    .banner-top {
        padding: 20px 0;
    }

    h2:after {
        bottom: 5px;
    }
}

@media (max-width: 382px) {
    .banner-top {
        padding-bottom: 30px;
    }
}

@media (min-width: 320px) {
    h2 {
        padding-top: 15px;
    }
}

.banner-top .wrapper-inner h2 {
    color: #fcb816;
}

.banner-top .wrapper-inner h2:after {
    display: none;
}

.get-info {
    width: 423px;
    height: 61px;
    background: url("../images/button-main-banner.png") no-repeat;
    background-size: 100% 100%;
    border: transparent;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}

.get-info:hover {
    color: black;
    cursor: pointer;
}

@media (max-width: 478px) {
    .wrapper-inner {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    .get-info {
        width: 80%;
        font-size: 20px;
    }
}

/*background-middle*/

.banner-middle h2 {
    color: black;
    text-align: center;
}

.banner-middle {
    background: url("../images/background-middle.jpg") center 0;
    background-size: cover;
    position: relative;
}

.banner-middle:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
}

.banner-middle .wrapper-inner {
    position: relative;
    flex-direction: column;
    z-index: 2;
}

.steps {
    display: flex;
    flex-direction: row;
    padding: 110px 0;
    position: relative;
}

.steps:before {
    position: absolute;
    top: 64px;
    left: 90px;
    width: 80%;
    height: 2px;
    content: '';
    background-color: #fcb816;
}

@media (max-width: 978px) {
    .steps {
        padding: 0 15px;
    }
    .steps:before {
        display: none;
    }
}

.steps ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: list;
    list-style: none;
}

.steps li {
    position: relative;
    width: 20%;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1102px) {
    .steps li {
        font-size: 15px;
    }
}

@media (max-width: 978px) {
    .steps li {
        width: 100%;
        text-align: start;
        padding: 5px 0 5px 45px;
    }
}

.steps ul > li:before {
    content: counter(list) "";
    counter-increment: list;
    display: inline-block;
    position: absolute;
    left: 75px;
    top: -67px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background: orange;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 978px) {
    .steps ul > li:before {
        left: 15px;
        top: 0;
        font-size: 18px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
}

/*estimate-block*/

.estimate-block .wrapper-inner {
    flex-direction: column;
}

@media (max-width: 1010px) {
    .estimate-block .wrapper-inner {
        padding: 0 15px 15px 15px;
    }
}

.multiple-radio-block {
    position: relative;
    width: 820px;
    border: 2px solid orange;
    padding: 30px 65px 50px 65px;
}


@media (max-width: 900px) {
    .multiple-radio-block label {
        font-size: 14px;
    }
}

@media (max-width: 860px) {
    .multiple-radio-block {
        width: calc(100% - 30px);
        padding: 15px;
    }
}

@media (max-width: 478px) {
    .multiple-radio-block p {
        font-size: 16px;
    }
}

.radio,
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    user-select: none;
}

label {
    cursor: pointer;
    position: relative;
    font-size: 16px;
}

input[type=radio] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    left: -33px;
    bottom: -3px;
    border: 2px solid lightgrey;
    border-radius: 50%;
}

@media (max-width: 840px) {
    label {
        padding-left: 20px;
    }
    label:before {
        width: 15px;
        height: 15px;
        left: 0;
        top: 0;
    }
}

label:hover:before {
    background-color: lightgrey;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: orange;
    font-size: 50px;
    text-align: center;
    vertical-align: center;
    line-height: 18px;
}

@media (max-width: 840px) {
    input[type=radio]:checked + label:before {
        font-size: 35px;
        line-height: 11px;
    }
}

.rooms {
    width: 58%;
}

.distance {
    width: 70%;
    padding-bottom: 0;
}

.time {
    padding-left: 33px;
}

.repair {
    width: 85%;
    padding-bottom: 0;
}

.repair-need {
    padding-left: 33px;
}

@media (max-width: 640px) {
       .time, .repair-need {
        padding-left: 0;
    }
}

.my-floor {
    width: 41%;
}

.my-floor input[type=text] {
    width: 54px;
    height: 25px;
    border: 2px solid lightgrey;
    border-radius: 3px;
    text-align: center;
}

.footage {
    width: 49%;
}

.footage input[type=text] {
    width: 108px;
    height: 25px;
    border: 2px solid lightgrey;
    border-radius: 3px;
    text-align: center;
}

.price {
    width: 55%;
}

.price input[type=text] {
    width: 145px;
    height: 25px;
    border: 2px solid lightgrey;
    border-radius: 3px;
    text-align: center;
}

@media (max-width: 640px) {
    .radio, .form {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0 0 10px 0;
    }
}

.address {
    align-items: center;
    padding: 27px 0;
}

@media (max-width: 750px) {
    .address {
        flex-direction: column;
    }
}

.address span {
    text-transform: uppercase;
    font-weight: bold;
    color: orange;
}

.address label:before {
    display: none;
}

.address input[type=email],
.address input[type=tel] {
    width: 300px;
    height: 40px;
    border: 2px solid lightgrey;
    border-radius: 3px;
    padding-left: 10px;
}

@media (max-width: 840px) {
    .address {
        padding: 15px 0;
    }
    .address label {
        padding-left: 0;
    }
}

@media (max-width: 400px){
    .multiple-radio-block .address input[type=email],
    .multiple-radio-block .address input[type=tel]{
        width: 200px;
    }
}

.calculate {
    display: flex;
    justify-content: center;
}

.calculate button {
    width: 339px;
    height: 57px;
    background: url("../images/button-calculate.png") no-repeat;
    background-size: 100% 100%;
    border: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.calculate button:hover {
    color: black;
}

/*advantages*/

.advantages {
    background: url("../images/background-bottom.jpg") center 0;
    background-size: cover;
}

.advantages .wrapper-inner,
.income .wrapper-inner,
.bottom-form .wrapper-inner {
    flex-direction: column;
}

@media (max-width: 1010px) {
    .advantages .wrapper-inner,
    .income .wrapper-inner {
        padding: 0 15px 15px 15px;
    }
}

.our-advantages,
.your-income {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 60px;
}

@media (max-width: 1010px) {
    .your-income {
        padding-top: 0;
    }
}

@media (max-width: 770px) {
    .your-income {
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    .our-advantages, .your-income {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px 0;
    }

    .our-advantages p {
        padding-left: 10px;
    }
}

.adv-item,
.income-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 920px) {
    .adv-item, .income-item {
        font-size: 14px;
    }
}

@media (max-width: 720px) {
    .adv-item {
        width: fit-content;
        flex-direction: row;
        text-align: start;
    }
}

.item-1 {
    width: 56px;
    height: 71px;
    background: url("../images/adv-item-1.png") no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

.item-2 {
    width: 71px;
    height: 71px;
    background: url("../images/adv-item-2.png") no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

.item-3 {
    width: 56px;
    height: 70px;
    background: url("../images/adv-item-3.png") no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

.item-4 {
    width: 55px;
    height: 71px;
    background: url("../images/adv-item-4.png") no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

/*income*/

.income-item {
    width: 30%;
}

@media (max-width: 770px) {
    .your-income .income-item {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .your-income .income-item p {
        padding-left: 10px;
        text-align: start;
    }
}

.inc-1,
.inc-2,
.inc-3 {
    width: 141px;
    height: 141px;

}

.inc-1 {
    background: url("../images/inc-item-1.png") no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

.inc-2 {
    background: url("../images/inc-item-2.png") no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

.inc-3 {
    background: url("../images/inc-item-3.png") no-repeat;
    background-size: contain;
    margin-bottom: 20px;
}

@media (max-width: 920px) {
    .inc-1,
    .inc-2,
    .inc-3 {
        width: 90px;
        height: 90px;
    }
}

.adv-item .image,
.income-item .image {
    display: flex;
    flex-shrink: 0;
}

/*bottom-form*/

.bottom-form {
    background: url("../images/footer-orange.jpg") center 0;
    background-size: cover;
}

.bottom-form .wrapper-inner p {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

@media (max-width: 770px) {
    .bottom-form .wrapper-inner {
        padding: 20px;
    }
    .bottom-form .wrapper-inner h3 {
        font-size: 24px;
    }
    .bottom-form .wrapper-inner p {
        font-size: 14px;
    }
}

.application-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: rgba(255,255,255,.1);
    border: 1px solid #eeeeee;
}

@media (max-width: 450px) {
    .application-form {
        padding: 15px;
    }
}

.application-form label:before {
    display: none;
}

.application-form input[type=tel],
.application-form input[type=text]{
    width: 430px;
    height: 44px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: none;
}

@media (max-width: 840px) {
    .application-form label {
        padding-left: 0;
    }
}

.message textarea {
    border: none;
    padding: 10px 0 0 10px;
    width: 430px;
    height: 64px;
    margin-bottom: 20px;
}

@media (max-width: 550px) {
    .application-form input[type=tel],
    .application-form input[type=text],
    .message textarea {
        width: 350px;
    }
}

@media (max-width: 450px) {
    .application-form input[type=tel],
    .application-form input[type=text],
    .message textarea {
        width: 300px;
    }
}

@media (max-width: 370px) {
    .application-form input[type=tel],
    .application-form input[type=text],
    .message textarea {
        width: 270px;
    }
}

.send button {
    width: 238px;
    height: 42px;
    background: url("../images/button-send.png") no-repeat;
    border: transparent;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.send button:hover {
    color: orange;
}

/*footer*/

footer {
    background-color: black;
}

footer .wrapper-inner {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

@media (max-width: 1020px) {
    footer .wrapper-inner {
        padding: 15px;
    }
}

@media (max-width: 750px) {
    footer .wrapper-inner {
        flex-direction: column;
    }
    .social {
        padding-bottom: 15px;
    }
}

.social i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: black;
    background-color: orange;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

.social i:hover {
    color: white;
}

.copyright {
    color: white;
}

@media (max-width: 480px) {
    .copyright {
        font-size: 16px;
    }
}

footer .phone-block a {
    color: white;
}

@media (max-width: 750px) {
    footer .phone-block {
        padding-top: 15px;
    }
}

/*modal*/

.modal,
.modal-2 {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
}

.modal-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    height: 390px;
    padding: 25px;
    background: white;
    border: 1px solid orange;
}

.modal-2 .modal-inner {
    height: 340px;
}

.modal-inner label {
    padding-left: 0;
}

@media (max-width: 650px) {
    .modal-inner {
        width: calc(100% - 120px);
    }
}

@media (max-width: 900px) {
    .modal-inner,
    .modal-2 .modal-inner {
        height: fit-content;
        padding: 15px;
    }
}

.close-modal {
    position: absolute;
    top: -35px;
    right: -35px;
    font-weight: 400;
    font-size: 36px;
    color: orange;
}

.close-modal:hover {
    cursor: pointer;
}

@media (max-width: 850px) {
    .close-modal {
        top: -10px;
        right: 15px;
    }
}

.modal-inner h3 {
    color: black;
}

.modal-inner p {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: orange;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 900px) {
    .modal-inner h3 {
        font-size: 24px;
    }
    .modal-inner p {
        font-size: 14px;
    }
}

.modal-inner label:before {
    display: none;
}

.modal-inner input[type=tel],
.modal-inner input[type=text],
.modal-inner input[type=email]{
    width: 430px;
    height: 44px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
}

@media (max-width: 600px) {
    .modal-inner input[type=tel],
    .modal-inner input[type=text],
    .modal-inner input[type=email]{
        width: 350px;
    }
}

@media (max-width: 530px) {
    .modal-inner input[type=tel],
    .modal-inner input[type=text],
    .modal-inner input[type=email]{
        width: 300px;
    }
}

@media (max-width: 450px) {
    .modal-inner {
        width: calc(100% - 90px);
    }

    .modal-inner input[type=tel],
    .modal-inner input[type=text],
    .modal-inner input[type=email]{
        width: 250px;
    }
}

@media (max-width: 378px) {
    .modal-inner {
        width: calc(100% - 70px);
    }

    .modal-inner input[type=tel],
    .modal-inner input[type=text],
    .modal-inner input[type=email]{
        width: 220px;
    }
}

.modal-inner .send {
    padding-top: 30px;
}

.modal-inner .send button {
    width: 238px;
    height: 42px;
    background: url("../images/button-header-2.png") center 0;
    background-size: contain;
    border: transparent;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.modal-inner .send button:hover {
    color: black;
}
